body{
    background-image: url(../img/jundiai.jpg);
}
.container{
    padding: 20px;
    background: rgb(224, 224, 224);
    border-radius: 18px;
    box-shadow: 10px 5px 0 rgba(0, 0, 0, 0.2);
}
h1 {
    text-align: center;
}
.imagem{
    display: block;
    margin: auto;
    width: 800px;
}